div.titulos {
    position: relative;
display: flex;
justify-content: center;
align-items: center;
color: wheat;
background-color: aqua;
font-size: 1rem;
width: 300px;
height: 150px;
margin: 6px;
text-align: center;

}

div.titulos p {
    transition: 3ms;
   display: none;
text-shadow: 1px 1px 1px 1px;
color: black;



}


div.titulos p:hover {
    display: auto;
 text-shadow: 1px 1px 1px 1px;
 color: black;
 
 
 
 }