@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,600;1,300;1,500&family=Yanone+Kaffeesatz:wght@200;500&display=swap');


.botonSalir {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
position: absolute;
font-size: 0.7rem;
top: 30px;
right: 10px;
width: 40px;
height: 40px;
color: gray;
border: 1px gray solid;
border-radius: 3px;
text-align: center;


}



.texto {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: gray;
    font-size: 0.7rem;
text-decoration: none !important;

}

