body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


div.titulo {

text-align: center;
font-size: 4rem;
color: red;
margin-top: 100px;
}

div.titulo p {

  text-align: center;
  font-size: 3rem;
  color: #fff;
  margin-top: 100px;


}

.contenedor {
color: red;

}